*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# sublime
*.sublime-workspace

# wordpress specific
wp-config.php
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/uploads/*

# grunt
node_modules
wp-content/uploads/BBigfootCMMS_mainmenu-videopreview.jpg
wp-content/uploads/FFemale_Main.jpg
wp-content/uploads/UUtilitypole_small.jpg
wp-content/uploads/hheatingsystemtech_small.jpg
wp-content/uploads/hhospital_small.jpg
wp-content/uploads/hhotel_small.jpg
wp-content/uploads/hhotelhallway_small.jpg
wp-content/uploads/mmaintenanceworker_small.jpg
wp-content/uploads/mmanufacturing_small.jpg
wp-content/uploads/mmanufacturingproduction_small.jpg
wp-content/uploads/oofficebuilding_small.jpg
wp-content/uploads/ppropertymgmt_small.jpg
wp-content/uploads/ssafetyaudit.jpg
wp-content/uploads/sschool_small.jpg
wp-content/uploads/ttechnician_small.jpg
wp-content/uploads/uutility_small.jpg
wp-content/uploads/uutilitytower_small.jpg
